<?xml version="1.0" encoding="UTF-8"?>

<!-- 注意：此处使用了security作为默认命名空间 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
        <bean id="indexService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" 
         p:serviceUrl="rmi://127.0.0.1:1199/indexService"
         p:serviceInterface="com.demo.service.IndexService" />

</beans>